
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1 Profilim sayfası yok-----</p>
<p>#2 Tüm başlıklarda sayfalama(paging)----</p>
<p>#3 Mesajlarda Session----</p>
<p>#4 Oturum yönetiminin mimariye taşınması-----</p>
<p>Başlıklarda arama kutucuğu</p>
<p>Yazar Görselleri düzenlenecek</p>
<p>Grafikler eklenecek</p>
<p>Vitrin teması</p>
<p>Gelen kutusunda arama </p>
<p>Yetkilendirmeler</p>
<p>Galeri</p>
<p>Mesajlar gitmiyor</p>
<p>Taslaklar kısmı</p>
<p>Beceri kartı sayfası</p>
<p>Hata sayfası Layottan ayrılacak</p>
<p>Hata sayfası Layottan ayrılacak</p>
<p>Sözlük ve Vitrin sayfası ayrılacak</p>
<p>Proje dosyaları sunucuya taşınacak</p>
<p>Alan adı alınacak</p>
<p>Proje canlıya taşınacak</p>
<p>#5 Token kullanımı</p>

